@charset "UTF-8";

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
font-size: calc(100vw / 1440 * 10);
font-family: "Rubik", sans-serif;
font-weight: 300;
background-color: black;
color: white;
}

a,
a:visited,
a:hover {
text-decoration: none;
color: white;
}

/* primeira rolagem */
main {
  width: 100vw;
  min-height: 100vh;
}

main header {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 5rem 10rem 5rem 10rem;
  pointer-events: none;
  z-index: 1;
}

main header h1 {
  font: size 2rem;
  text-transform: uppercase;
}

main header a {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  pointer-events: auto;
}

.lista {
  width: 100vw;
  min-height: 100vh;
}

.lista_item {
  position: relative;
  background-color:black;
}

.lista_item_picture img {
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  object-fit: cover;

}

.lista_item p {
  position: absolute;
  font-size: 5rem;
  line-height: 1;
  bottom: 15rem;
  padding: 0 10rem;
  width: 80vw;
  text-transform: uppercase;
  opacity: 0.7;


}

main header h1 {}
main header a {}
.lista {}
.lista_item {}
.lista_item_picture {}


/* geral */

/* conteúdos */
/* responsividade */
